<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Find The Place !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/styles/css/main.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/main/scripts/jquery.js') }}"></script>
        {% endblock %}
    </body>
</html>
