{% extends '@Main/base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

<div id='registerWrapper'>
	<div id='register'>
		<p>Join us and play</p>
		<a href="{{ path('fos_user_registration_register') }}">
			<button>
				Join now
			</button>
		</a>
	</div>
</div>

{% endblock %}