{% extends '@Main/base.html.twig' %}

{% block body %}

{% include 'MainBundle::header.html.twig' %}

<div id='registerWrapper'>
	<div id='register'>
		<p>Join us and play</p>
		{% render url('fos_user_registration_register') %}
	</div>
</div>

{% endblock %}