#registerWrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: cover;

	#register
	{
		background-color: #e6e6e6;
		padding: 10px;
		text-align: center;

		form > div > div
		{
			display:flex;
			flex_align: column;
			justify-content: space-between;
		}
	}
}